{% extends 'base.html.twig' %}

{% block title %}
    Edit client
{% endblock %}

{% block body %}
    <form action="" method="post" enctype="multipart/form-data">
        {{ form_widget(form._token) }}
        <div class="row">
            <div class="form-group mt-2 col-6" readonly="true" >
                {{ form_row(form.reference) }}
            </div>
        </div>
        <div class="row">
            <div class="form-group mt-2 col-6">
                {{ form_row(form.email) }}
            </div>
        </div>
        <div class="row">
            <div class="form-group mt-2 col-6">
                {{ form_row(form.tel) }}
            </div>
        </div>

        <div hidden>
            {{ form_rest(form) }}
        </div>


        <div class="form-group mt-4">
            <button type="submit" class="btn btn-success">
                <i class="fa-solid fa-floppy-disk"></i>
                Sauvegarder
            </button>
        </div>

    </form>
{% endblock %}

